@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.banner-neovite {
    background-image:url(../img/banner-neovite.png);
    background-repeat:no-repeat;
    background-position: center 0;
    min-height:487px;
}

@media (max-width: 600px){
    .banner-neovite {
    }
}

.banner-neovite-wrap {
    width: 100%;
    max-width: 90%;
    margin:0 auto;
    padding:43px 20px;
    text-align: center;
    color:#fff;
    font-size:16px;
}

.banner-neovite-title {
    color:#fff;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    line-height: 1.1;
    font-weight:300;
    margin-bottom: 30px;
}

@media (min-width: 992px){
    .banner-neovite {
        height: 487px;
    }

    .banner-neovite-wrap {
        max-width: 1070px;
        padding:114px 0 62px;
    }
    
    .banner-neovite-title {
        font-size: 70px;
        line-height: 1.1;
        max-width:70%;
        margin: 0 auto;
        margin-bottom: 45px;
    }

}

.dmri-menu-wrap {
    padding-left:20px;
    overflow-x: scroll;
    max-width:100%;
}

.dmri-menu {
    list-style:none;
    padding:0;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}

.dmri-menu-link {
    padding-top: 10px;
    height:80px;
    width: 100%;
    font-size:16px;
    text-decoration:none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    cursor:pointer;
    border-bottom:2px solid #D9D9D9;
    color:#646464;
    position:relative;
}

.dmri-menu-link:after {
    content: '';
    position: absolute;
    bottom:-3px;
    left:0;
    width:0;
    height: 4px;
    background-color: transparent;
    border-radius:3px;
    transition: width .6s;
    transition-timing-function: ease;
}

.dmri-menu-link:hover {
    text-decoration:none;
    font-weight:bold;
}

.dmri-menu-link.active {
    font-weight:bold;
    color:#062C4E;
}

.dmri-menu-link:hover:after,
.dmri-menu-link.active::after
 {
    text-decoration:none;
    background-color: #F59425;
    width:100%;
}


@media (min-width: 992px){
    
    .dmri .dmri-menu-wrap {
        padding: 0 51px;
        overflow:hidden;
    }
}

@media (max-width: 992px){

    .dmri {
        max-width: 100%;
    }

    .dmri-menu-wrap {
        overflow:scroll;
        width: 100%;
    }

    .dmri-menu {
        width:970px;
    }

}

.dmri-wrap-col-right {
    max-width: 100%;
    margin-top:30px;
}

.dmri-galery-wrap {
    width:100%;
    overflow: scroll;
}

.dmri-galery {
    list-style:none;
    padding:0;
}

.dmri-galery-item-01 {
    background:url(../img/dmri-01.png) no-repeat center center;
    width:200px;
    height: 165px;
}

.dmri-galery-item-02 {
    background:url(../img/dmri-02.png) no-repeat center center;
    width:200px;
    height: 165px;
}

.dmri-wrap {
    padding:0 20px;
    padding-bottom: 150px;
    max-width: 1220px;
    margin: 0 auto;
    background:url(../img/wave-blue.svg) no-repeat center bottom;
}

@media (min-width: 992px){

    .dmri-wrap {
        padding-top:62px;
        padding-bottom: 170px;
        display: grid;
        grid-template-columns: 1fr .5fr;
        column-gap: 50px;
    }

    .dmri-galery-wrap {
        overflow: hidden;
    }

    .dmri-galery {
        width:auto;
    }

    .dmri-galery-item-01 {
        width:360px;
        height:125px;
        margin-bottom:14px;
    }
    
    .dmri-galery-item-02 {
        width:360px;
        height:125px;
    }

    .dmri-wrap-col-right {
        margin-top:20px;
    }

}

@media (max-width: 991px){    

    .dmri-galery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 420px;
        justify-content: space-between;
    }

    .dmri-galery-item {
        width:200px;
        height: 165px;
    }

}

@media (min-width: 420px) and (max-width: 991px) {
    .dmri-galery {
        margin: 0 auto;
    }    
}

.dmri-title {
    font-weight:bold;
    font-size:30px;
    text-align:center;
    color: #062C4E;
}

.dmri-description {
    font-size:18px;
    text-align:center;
    color: #062C4E;
}

.dmri-content {
    columns: 330px 2;
    column-gap: 65px;
    text-align:center; 
    color:#646464;
    font-size: 16px;
}

@media (min-width: 992px){
    .dmri-title,
    .dmri-description,
    .dmri-content {
        text-align: left;
    }

    .dmri-title {
        font-size: 55px;
    }

    .dmri-description {
        margin-bottom:20px;
        font-weight: bold;
    }

}


.fumantes {
    padding: 0 20px;
    padding-top:50px;
    max-width: 1220px;
    margin: 0 auto;
}

.fumantes-title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #062C4E;
}

.fumantes-description {
    font-size: 18px;
    text-align: center;
    color: #062C4E;
}

.fumantes-gallery-wrap {
    max-width: 100%;
}

.fumantes-gallery {
    overflow:scroll;
    width:100%;
}

.fumantes-gallery {

}

.fumantes-content {    
    font-size: 16px;
}

@media (max-width: 991px){
    .fumantes-content {   
        display:flex;
        flex-direction: column;
    }
    .fumantes-content-col-left {
        margin-top:40px;
    }
}

.fumantes-content-col-left {
    order: 2;
}

.fumantes-content-col-right {
    order: 1;
}

.fumantes-gallery {
    list-style:none;
    padding:0;
    display:grid;
    column-gap: 17px;
    grid-template-columns: repeat(3, 200px);
}

.fumantes-gallery-item-01 {
    background:url(../img/fumantes-gallery-1.png) no-repeat center center;
    width:200px;
    height: 200px;
    background-size: contain;
}

.fumantes-gallery-item-02 {
    background:url(../img/fumantes-gallery-2.png) no-repeat center center;
    width:200px;
    height: 200px;
    background-size: contain;
}

.fumantes-gallery-item-03 {
    background:url(../img/fumantes-gallery-3.png) no-repeat center center;
    width:200px;
    height: 200px;
    background-size: contain;
}

@media (min-width: 992px){

    .fumantes-title {
        font-size: 55px;
    }

    .fumantes-description {
        margin-bottom:30px;
        font-weight: bold;
    }

    .fumantes-content-col-left {
        order: 1;
    }
    
    .fumantes-content-col-right {
        order: 2;
    }

    .fumantes-gallery-item-01,
    .fumantes-gallery-item-02,
    .fumantes-gallery-item-03 {
        width:156px;
        height: 156px;
    }

    .fumantes-content {
        display:grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }

    .fumantes-gallery {
        grid-template-columns: repeat(3, 156px);
    }

}